{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Enter password for this library{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-group mb-4">
        <p> <input type='text' name='key' class="form-control" /></p>
            <input type='hidden' name='library_id' value="{{ library_id }}" />
            <input type='hidden' name='target' value="{{ target }}" />
            {{ recaptcha }}
            <input type="submit" value="submit" class="btn btn-primary mb-2 mt-2" />
    </div>
</form>{% endblock %}

